/*Home*/

.backgorundimage{
  background-size: 50%;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 2%;
    padding: 0;
   
    
  }
  


  li{
    margin: 6%;
    margin-right: 80%;
  }


  a {
    
    text-decoration-line: none;
    
      font-family: "Bungee Spice", sans-serif;
      font-weight: 400;
      font-style: normal;
    
  }

  .container{
    display: flex;
  }

  

  .name1{
        font-family: "Calligraffitti", cursive;
        font-weight: 600;
        font-style: normal;
        color: rgb(65, 65, 65);
      
        

      }
      .name3{
        
          font-family: "Love Light", cursive;
          font-weight: 400;
          font-style: normal;
          color: rgb(85, 80, 80);
        
      }
    


  .name2{
    
      font-family: "Playwrite PE Guides", cursive;
      font-weight: 400;
      font-style: normal;
      color: rgb(252, 234, 223);
    
  }
.rowjr{
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
    text-align: center;
    margin: 12%;
    
    position: fixed;
    bottom: 70px;
    text-align: right;
}

footer.container{
  margin-top: 21%;
}

      
  /*PROJECTS*/
  @keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.project{
  margin-top: 10%;
}

.h1p {
    animation: slideIn 2s ease-in-out;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: 10%;
}
 .project2{
  display: flex;
    flex-direction: column; /* Changes layout to vertical */
    align-items: center; /* Centers images horizontally */
    gap: 10px;
 }

 .listp{
  position: absolute; /* Allows you to position the element */
  top: 0; /* Moves the list to the top of the page */
  left: 0; /* Aligns the list to the left */
  width: 100%; /* Optional: makes the list span the full width */
  margin: 0; /* Resets any default margin */
  padding: 10px; /* Adds some padding */
 
}
 

  /*Contact*/
  .contact{margin-bottom: 6%;
  margin-left: 42%;
}

