/*Home*/

.backgorundimage{
  background-size: 50%;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 2%;
    padding: 0;
   
    
  }
  


  li{
    margin: 6%;
    margin-right: 80%;
  }


  a {
    
    text-decoration-line: none;
    
      font-family: "Bungee Spice", sans-serif;
      font-weight: 400;
      font-style: normal;
    
  }

  .container{
    display: flex;
  }

  

  .name1{
        font-family: "Calligraffitti", cursive;
        font-weight: 600;
        font-style: normal;
        color: rgb(65, 65, 65);
      
        

      }
      .name3{
        
          font-family: "Love Light", cursive;
          font-weight: 400;
          font-style: normal;
          color: rgb(85, 80, 80);
        
      }
    


  .name2{
    
      font-family: "Playwrite PE Guides", cursive;
      font-weight: 400;
      font-style: normal;
      color: rgb(252, 234, 223);
    
  }
.rowjr{
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
    text-align: center;
    margin: 12%;
    
    position: fixed;
    bottom: 70px;
    text-align: right;
}

footer.container{
  margin-top: 21%;
}

      
  /*PROJECTS*/
  .project{
    margin: 29%;
    margin-left: 45%;
    
  }

  .project2{
    margin-top: -57%;
    margin-left: 36%;
  }

  /*Contact*/
  .contact{margin-bottom: 6%;
  margin-left: 42%;
}

